body{
    background-color: yellow;
    color: maroon;
}

a{
/*    text-decoration: none;*/
    color: maroon;
}
.main-list > li{
    border-color: black;
    position: relative;
    border-style: solid;
    width: 100px;;
    padding: 10px;
    border-right-width: 30px;
    margin-bottom: 5px;
    background-color: white;
}

.lili{
    position: relative;
    display: none;
}

.lili > ul > li{
    position: relative;
    border-style: solid;
    width: 100px;;
    padding: 10px;
    border-right-width: 30px;
    margin-bottom: 5px;
    background-color:grey;
    border-color: black;
}

.lili > ul > li > a{
    text-decoration: none;
}

.main-list > li:hover{
    background-color:grey;
}

.lili > ul > li:hover{
    background-color: darkgreen;
} 

.show{
    display:list-item;
}

#scroll{
    position:relative;
    margin-left: 250px;
}

#dropdown{
    position: absolute;
    margin-top: -900px;
}

table, th, td{
    border: 1px solid black;
}

td{
    text-align: left;
}

/*
.links{
    background-color: white;
}

.colchange{
    background-color: grey;
}
*/


